/* Page Loader */

$gradient : linear-gradient(to top, var(--color-white) 0%, var(--color-white), var(--color-white));

.page {
    display: block;
}

body.loading {
    overflow: hidden;
    &::-webkit-scrollbar { width: 0 }
}

body.loading .page {
    display: none;
}

.loading__line {
    background: $gradient;
    @for $i from 1 through 12 {
        &:nth-child(#{$i}) {
            animation:lines .9s 0.1s*($i - 24) ease-in-out infinite alternate;
        }
        @keyframes lines {
            0%{
                height:0; 
            }
            100%{
                height: var(--space-sm);
            }
        }
    }
}

.loading__move,
.loading__wrapper {
    overflow: hidden;
    
    &::-webkit-scrollbar { width: 0 }
}

.loading__overlay {
    position: fixed;
    z-index: 100000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    // background: var(--color-co);
}

.loading__move {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    animation: loaderAnim 0.9s linear infinite alternate forwards;
}

.loading__lines {
    width: var(--space-xxl);
    height: var(--space-sm);
    display:grid;
    grid-template-columns:repeat(12,1fr);
    grid-column-gap:4px;
    transform:rotateY(180deg) rotateZ(180deg) translate(-50%, 200%);
}

.loading__text {
    transform: translate(-50%, -50%);
    font-weight: 400;
    text-transform: uppercase;
    margin-top: var(--space-xxxs);
    font-size: var(--text-xs);
    color: var(--color-white);
    
}


.loading__text, 
.loading__lines {
    position: absolute;
    top:50%;
    left: 50%;
}


@keyframes loaderAnim {
	to {
		opacity: 1;
		transform: scale3d(0.8,0.8,1);
	}
}


// HIDE loading-wrapper
.loading__wrapper.is--invisible {
    .loading__overlay,
    .loading__move {
        opacity: 0;
        visibility: hidden;
        display: none;
        width:0;
        height: 0;
        overflow: hidden;
    }
}

