:root {

	// radius
	--radius: 0.25em; // radius base size
	--radius-sm: calc(var(--radius)/2);
	--radius-md: var(--radius);
	--radius-lg: calc(var(--radius)*2);
	
	// box shadow
	--shadow-sm: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24); // low depth
	--shadow-md: 0 1px 8px rgba(0, 0, 0, .1), 0 8px 24px rgba(0, 0, 0, .15); // medium depth
    --shadow-lg: 0 15px 30px rgba(221, 165, 165, 0.1), 0 15px 60px rgba(0, 0, 0, 0.1); // high depth
    // --shadow-lg: 0 5px 40px 0 rgba(0, 0, 0, .5); // high depth    
	
	// animations
	--transition-base:             all .2s ease-in-out;
	--transition-fade:             opacity .15s linear;
	--transition-collapse:         height .35s ease;

	// timing functions
  	// credits: https://github.com/ai/easings.net
	--bounce: cubic-bezier(0.175, 0.885, 0.32, 1.275);
	--ease-in-out: cubic-bezier(0.645, 0.045, 0.355, 1);
	--ease-in: cubic-bezier(0.55, 0.055, 0.675, 0.19);
    --ease-out: cubic-bezier(0.215, 0.61, 0.355, 1);
    
    --cubic-in: cubic-bezier(0.000, 1.270, 0.460, 1.650);
    --cubic-out: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    
	// time
	--duration-instant:     .05s;
	--duration-quick:       .1s; 
	--duration-fast:        .2s;
	--duration-slide:       .25s;
	--duration:             .35s;
	--duration-slow:        .6s;
}


$ratios: (
"2\\:1"   : (2:1),
"4\\:3"   : (4:3),
"16\\:9"  : (16:9)
) !default;

