:root {
	--max-width-xxs: 32rem;  // ~512px
	--max-width-xs:  38rem;  // ~608px
	--max-width-sm:  48rem;  // ~768px
	--max-width-md:  64rem;  // ~1024px
	--max-width-lg:  80rem;  // ~1280px
	--max-width-xl:  90rem;  // ~1440px
	--max-width-xxl: 120rem; // ~1920px
}