// link style
a, .link {}

mark {
    background-color: alpha(var(--color-accent), 0.2);
    color: inherit;
}

.text-component {
    --line-height-multiplier: 1;
    --text-vspace-multiplier: 1;
    
    blockquote {
        padding-left: 1em;
        border-left: 4px solid var(--color-contrast-low);
    }
    
    hr {
        background: var(--color-contrast-low);
        height: 1px;
    }
    
    figcaption {
        font-size: var(--text-sm);
        color: var(--color-contrast-medium);
    }
}

.article.text-component { // e.g., blog posts
    --line-height-multiplier: 1.13; // increase article line-height
    --text-vspace-multiplier: 1.2; // increase vertical spacing
}