// --------------------------------

// Typography

// --------------------------------

.truncate, .text-truncate { // truncate text if it exceeds its parent
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap !important;
}

.text-replace { // replace text with img
    overflow: hidden !important;
    color: transparent !important;
    text-indent: 100% !important;
    white-space: nowrap !important;
}

// text alignment
.text-center { text-align: center !important; }
.text-left   { text-align: left !important; }
.text-right  { text-align: right !important; }

@include breakpoint(xs) {
    .text-center\@xs { text-align: center !important; }
    .text-left\@xs   { text-align: left !important; }
    .text-right\@xs  { text-align: right !important; }
}

@include breakpoint(sm) {
    .text-center\@sm { text-align: center !important; }
    .text-left\@sm   { text-align: left !important; }
    .text-right\@sm  { text-align: right !important; }
}

@include breakpoint(md) {
    .text-center\@md { text-align: center !important; }
    .text-left\@md   { text-align: left !important; }
    .text-right\@md  { text-align: right !important; }
}

@include breakpoint(lg) {
    .text-center\@lg { text-align: center !important; }
    .text-left\@lg   { text-align: left !important; }
    .text-right\@lg  { text-align: right !important; }
}

@include breakpoint(xl) {
    .text-center\@xl { text-align: center !important; }
    .text-left\@xl   { text-align: left !important; }
    .text-right\@xl  { text-align: right !important; }
}


// Alignment
.text-justify  { text-align: justify !important; }
.text-nowrap   { white-space: nowrap !important; }

// font family
.font-primary { font-family: var(--font-primary) !important; }
.font-secondary { font-family: var(--font-secondary) !important; }

// Transformation
.text-lowercase  { text-transform: lowercase !important; }
.text-uppercase  { text-transform: uppercase !important; }
.text-capitalize { text-transform: capitalize !important; }

// Weight and italics
.font-weight-light  { font-weight: 300 !important; }
.font-weight-normal { font-weight: 400 !important; }
.font-weight-bold   { font-weight: 700 !important; }
.font-italic        { font-style: italic !important; }

// text letter-spacing
.text-tight-1 { letter-spacing: -0.025em !important; }
.text-tight-2 { letter-spacing: -0.05em !important; }
.text-mega-1 { letter-spacing: 0.125em !important; }
.text-mega-2 { letter-spacing: 0.25em !important; }

.text-decoration-none { text-decoration: none !important; }