// --------------------------------

// Flexbox

// --------------------------------

.flex { display: flex; }
.inline-flex { display: inline-flex; }

.flex-wrap { flex-wrap: wrap; }
.flex-column { flex-direction: column; }
.flex-row { flex-direction: row; }
.flex-center { justify-content: center; align-items: center; }
.justify-start { justify-content: flex-start; }
.justify-end { justify-content: flex-end; }
.justify-center { justify-content: center; }
.justify-between { justify-content: space-between; }
.items-center { align-items: center; }
.items-start { align-items: flex-start; }
.items-end { align-items: flex-end; }

@include breakpoint(xs) {
    .flex-wrap\@xs { flex-wrap: wrap; }
    .flex-column\@xs { flex-direction: column; }
    .flex-row\@xs { flex-direction: row; }
    .flex-center\@xs { justify-content: center; align-items: center; }
    .justify-start\@xs { justify-content: flex-start; }
    .justify-end\@xs { justify-content: flex-end; }
    .justify-center\@xs { justify-content: center; }
    .justify-between\@xs { justify-content: space-between; }
    .items-center\@xs { align-items: center; }
    .items-start\@xs { align-items: flex-start; }
    .items-end\@xs { align-items: flex-end; }
}

@include breakpoint(sm) {
    .flex-wrap\@sm { flex-wrap: wrap; }
    .flex-column\@sm { flex-direction: column; }
    .flex-row\@sm { flex-direction: row; }
    .flex-center\@sm { justify-content: center; align-items: center; }
    .justify-start\@sm { justify-content: flex-start; }
    .justify-end\@sm { justify-content: flex-end; }
    .justify-center\@sm { justify-content: center; }
    .justify-between\@sm { justify-content: space-between; }
    .items-center\@sm { align-items: center; }
    .items-start\@sm { align-items: flex-start; }
    .items-end\@sm { align-items: flex-end; }
}

@include breakpoint(md) {
    .flex-wrap\@md { flex-wrap: wrap; }
    .flex-column\@md { flex-direction: column; }
    .flex-row\@md { flex-direction: row; }
    .flex-center\@md { justify-content: center; align-items: center; }
    .justify-start\@md { justify-content: flex-start; }
    .justify-end\@md { justify-content: flex-end; }
    .justify-center\@md { justify-content: center; }
    .justify-between\@md { justify-content: space-between; }
    .items-center\@md { align-items: center; }
    .items-start\@md { align-items: flex-start; }
    .items-end\@md { align-items: flex-end; }
}

@include breakpoint(lg) {
    .flex-wrap\@lg { flex-wrap: wrap; }
    .flex-column\@lg { flex-direction: column; }
    .flex-row\@lg { flex-direction: row; }
    .flex-center\@lg { justify-content: center; align-items: center; }
    .justify-start\@lg { justify-content: flex-start; }
    .justify-end\@lg { justify-content: flex-end; }
    .justify-center\@lg { justify-content: center; }
    .justify-between\@lg { justify-content: space-between; }
    .items-center\@lg { align-items: center; }
    .items-start\@lg { align-items: flex-start; }
    .items-end\@lg { align-items: flex-end; }
}

@include breakpoint(xl) {
    .flex-wrap\@xl { flex-wrap: wrap; }
    .flex-column\@xl { flex-direction: column; }
    .flex-row\@xl { flex-direction: row; }
    .flex-center\@xl { justify-content: center; align-items: center; }
    .justify-start\@xl { justify-content: flex-start; }
    .justify-end\@xl { justify-content: flex-end; }
    .justify-center\@xl { justify-content: center; }
    .justify-between\@xl { justify-content: space-between; }
    .items-center\@xl { align-items: center; }
    .items-start\@xl { align-items: flex-start; }
    .items-end\@xl { align-items: flex-end; }
}

// children
.flex-grow { flex-grow: 1; }
.flex-shrink-0 { flex-shrink: 0; }

// set gap
.flex-gap-xxxs {
    margin-bottom: calc(-1 * var(--space-xxxs));
    margin-left: calc(-1 * var(--space-xxxs));
    
    > * {
        margin-bottom: var(--space-xxxs);
        margin-left: calc(var(--space-xxxs));
    }
}

.flex-gap-xxs {
    margin-bottom: calc(-1 * var(--space-xxs));
    margin-left: calc(-1 * var(--space-xxs));
    
    > * {
        margin-bottom: var(--space-xxs);
        margin-left: calc(var(--space-xxs));
    }
}

.flex-gap-xs {
    margin-bottom: calc(-1 * var(--space-xs));
    margin-left: calc(-1 * var(--space-xs));
    
    > * {
        margin-bottom: var(--space-xs);
        margin-left: calc(var(--space-xs));
    }
}

.flex-gap-sm {
    margin-bottom: calc(-1 * var(--space-sm));
    margin-left: calc(-1 * var(--space-sm));
    
    > * {
        margin-bottom: var(--space-sm);
        margin-left: calc(var(--space-sm));
    }
}

.flex-gap-md {
    margin-bottom: calc(-1 * var(--space-md));
    margin-left: calc(-1 * var(--space-md));
    
    > * {
        margin-bottom: var(--space-md);
        margin-left: calc(var(--space-md));
    }
}

.flex-gap-lg {
    margin-bottom: calc(-1 * var(--space-lg));
    margin-left: calc(-1 * var(--space-lg));
    
    > * {
        margin-bottom: var(--space-lg);
        margin-left: calc(var(--space-lg));
    }
}

.flex-gap-xl {
    margin-bottom: calc(-1 * var(--space-xl));
    margin-left: calc(-1 * var(--space-xl));
    
    > * {
        margin-bottom: var(--space-xl);
        margin-left: calc(var(--space-xl));
    }
}

.flex-gap-xxl {
    margin-bottom: calc(-1 * var(--space-xxl));
    margin-left: calc(-1 * var(--space-xxl));
    
    > * {
        margin-bottom: var(--space-xxl);
        margin-left: calc(var(--space-xxl));
    }
}

.flex-gap-xxxl {
    margin-bottom: calc(-1 * var(--space-xxxl));
    margin-left: calc(-1 * var(--space-xxxl));
    
    > * {
        margin-bottom: var(--space-xxxl);
        margin-left: calc(var(--space-xxxl));
    }
}