/////////////////////////
//
// OBJECTS.SECTION
// * section - A wrapper element and can be used to give space between other section. <br>
// It has by default an full-width, but for some case you can add fixed-with for example wide-screen at 1700px above. <br>
//
// * section__inner - A containing element to wrap elements inside a section. It has a fixed width and a half gutter to stack elements that placed with half gutter
//
// Markup:
// <div class="section">
//     <div class="section__inner section__inner--spaceTop-4x"></div>
// </div> 
//
/////////////////////////

.section {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
} 

.section__inner {
    position: relative;
    max-width: var(--max-width-md);
    width: calc(100% - (2*var(--component-padding)));
    margin-left: auto;
    margin-right: auto;
    position: relative;
    
    &:after {
        content: "";
        display: block;
        clear: both;
    }
}


.section--wide .section__inner {
    max-width: 100%;
}

.section--sm .section__inner {
    max-width: var(--max-width-sm) !important;
}

.section--lg .section__inner {
    max-width: var(--max-width-lg) !important;
}



.section__layer-l,
.section__layer-r {
    position: absolute;
    top:0;
    width: 100%;
    height: 100%;
}
.section__layer-r {
    left:0;
    margin-right: auto;
}
.section__layer-l {
    right:0;
    margin-left: auto;
}


// SECTION BACKGROUND-IMAGE

.section__bg {
    background-size: cover;
    background-position: center center;
}

.section__bgTexture {
    background-position: top left;
    background-repeat: repeat;
}

.section__bgTexture,
.section__bg {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section__bg--fromTop-50 {
    bottom: auto;
    height: 50%;
} 

// SECTION WRAPPER
.sections-column {
    display: flex;
    flex-direction: column;
}

.sections-lg-row,
.sections-md-row {
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.sections-md--mobileReverse,
.sections-lg--mobileReverse {
    flex-direction: column-reverse;
}





@include breakpoint(md) { 
    
    .section__line {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 0;
    }
    .section__line--right {
        left: auto;
        right: 0;
    }
    
    .section__line--left, 
    .section__line--right {
        height: 100%;
        width: calc(var(--component-padding)*1);
    }
    .section__line--bottom, 
    .section__line--top {
        width: 100%;
        height: calc(var(--component-padding)*1);
    }

    .sections-md-row {
        flex-direction: row;
    }
    
    .sections-md-row--reverse {
        flex-direction: row-reverse;
    }
    
    .sections-md--mobileReverse {
        flex-direction: row;
    }
    
    // Equalize row of two sections
    .sections-md-row .section {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
    
    .sections-md-row .section--resize-l .section__inner {
        max-width: calc((var(--max-width-md)*.5));
        margin-left: auto;
        margin-right: 0;   
    }
    
    // Set section left wider    
    .sections-md-row .section--resize-l--wider .section__inner {
        max-width: var(--max-width-md);
    }
    
    .sections-md-row .section--resize-r .section__inner {
        max-width: calc((var(--max-width-md)*.5));
        margin-right: auto;
        margin-left: 0; 
    }
    
    // Set section right wider    
    .sections-md-row .section--resize-r--wider .section__inner {
        max-width: var(--max-width-md);
    }
    
    .sections-md-row--reverse .section--resize-l .section__inner {
        margin-left: 0;
        margin-right: auto;
        padding-right: var(--component-padding);
    }
    
    .sections-md-row--reverse .section--resize-r .section__inner {
        margin-left: auto;
        margin-right: 0;
        padding-left: var(--component-padding);  
    }
    
    
    .sections-md-row .section--scale {
        flex-grow: 2;
    }
}


@include breakpoint(lg) { 
    .sections-lg-row {
        flex-direction: row;
    }
    
    .sections-lg-row--reverse {
        flex-direction: row-reverse;
    }
    
    .sections-lg-row--mobileReverse {
        flex-direction: row;
    }
    
    // Equalize row of two sections
    .sections-lg-row .section {
        flex-basis: 0;
        flex-grow: 1;
        max-width: 100%;
    }
    
    .sections-lg-row .section--resize-l .section__inner {
        max-width: calc((var(--max-width-md)*.5));
        margin-left: auto;
        margin-right: 0;
    }
    
    // Set section left wider    
    .sections-lg-row .section--resize-l--wider .section__inner {
        max-width: var(--max-width-md);
    }
    
    
    .sections-lg-row .section--resize-r .section__inner {
        max-width: calc((var(--max-width-md)*.5));
        margin-right: auto;
        margin-left: 0;
    }
    
    // Set section right wider    
    .sections-lg-row .section--resize-r--wider .section__inner {
        max-width: var(--max-width-md);
    }
    
    .sections-lg-row--reverse .section--resize-l .section__inner {
        margin-left: 0;
        margin-right: auto;
        padding-right: var(--component-padding);
    } 
    
    .sections-lg-row--reverse .section--resize-r .section__inner {
        margin-left: auto;
        margin-right: 0;
        padding-left: var(--component-padding);  
    } 
    
    .sections-lg-row .section--scale {
        flex-grow: 2;
    }
}
